/* === PROJECTS === */
#projects {
    .teasers {
        gap: 7rem;
        padding-top: 7rem;
    }
}

@media screen and (min-width: 1200px) {
    #projects {
        .teasers {
            grid-template-columns: 1fr 1fr;
            gap: 10rem;
            padding-top: 10rem;
        }
    }
}