/* === HERO === */
#hero {
    height: 100dvh;
    color: var(--dark);
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-inline: 0rem;
    margin-bottom: 15rem;

    h1 {
        font-size: clamp(3.6rem, 6vw, 7.5rem);
        line-height: 5rem;
        justify-content: space-between;
        height: 86%;
        width: 93%;

        >span {
            display: block;
            word-break: keep-all;
            z-index: 2;

            &:nth-of-type(1) {
                align-self: flex-start;
                text-align: left;
                width: 60%;
            }
            &:nth-of-type(2) {
                text-align: right;
                align-self: flex-end;
            }

            span {
                transition: color .1s ease .8s;
                
                &:hover {
                    color: var(--main);
                    transition-delay: 0s;
                }
            }
        }
    }
    .star1, .star2 {
        position: absolute;

        .link-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;

            a {
                text-align: center;
                margin-top: -1.5rem;;
                width: 10rem;
                font-size: clamp(1.3rem, 1.8vw, 1.8rem);
                line-height: 2.2rem;
                transition: letter-spacing .3s ease;
                text-transform: uppercase;
                color: white;
    
                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    display: block;
                    height: 1px;
                    width: 0%;
                    background-color: white;
                    transition: width .2s ease;
                }
    
                &:hover:after {
                    width: 100%;
                }
            }
        }
    }
    .star1 {
        top: 15dvh;
        right: -10dvw;

        img {
            height: 270px;
            height: clamp(230px, 75vw, 750px);
        }
    }
    .star2 {
        bottom: 23dvh;
        left: -3vw;

        img {
            height: clamp(180px, 40vw, 520px);
        }
    }
}

@media screen and (min-width: 1200px) {
    #hero {
        h1 {
            text-align: center;
            line-height: 10rem;
            padding-bottom: 1rem;
        }
        padding-right: 3rem;
        .star1 {
            top: -35dvh;
            right: -15dvh;

            .link-wrapper {
                a {
                    width: fit-content;
                }
            }
        }
        .star2 {
            bottom: -3dvh;
            left: -7vw;
        }
    }
}