/* === FOOTER/CONTACT === */
footer {
    padding-block: 3rem 7rem;
    
    > a {
        font-size: clamp(1.7rem, 5vw, 9rem);
        border-block: 1px solid #000;
        padding-block: 2.5rem;
        align-items: center;
        justify-content: space-between;
        position: relative;
        margin-block: 5rem;

        span {
            transition: color .1s ease .8s;
            
            &:hover {
                color: var(--main);
                transition-delay: 0s;
            }
        }
    }

    ul {
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 1200px) {
    footer {
        padding-block: 2rem 7rem;
        
        > a {
            margin-block: 5rem;
            border: none;
    
            &:not(.btn):after {
                bottom: -10px;
                transition: width .6s ease;
            }
        }
    }
}