/* === FOOTER/CONTACT === */
footer {
    padding-block: 10rem;
    
    > a {
        font-size: 9rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        margin-block: 5rem;

        span.italic {
            font-weight: 700;
        }

        &:not(.btn):after {
            transition: width .6s ease;
        }
    }
}