/* === SKILLSET === */
#skillset {
    position: relative;

    .skills {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        padding-top: 7rem;
        justify-content: space-between;
        gap: 5rem;
    }
    .imgs {
        display: none;
        svg {
            height: clamp(90px, 7vw, 110px);
            cursor: pointer;
            transition: color .3s ease;

            &:nth-of-type(even) {
                margin-bottom: -8rem;
            }

            &:hover {
                color: var(--main);
            }
        }
    } 
}

@media screen and (min-width: 1200px) {
    #skillset {
        .skills {
            padding-top: 10rem;
            margin-bottom: 15rem;
        }
        .imgs {
            display: flex;
            gap: unset;
        } 
    }
}