/* === SKILLSET === */
#skillset {
    position: relative;

    .skills {
        padding-top: 10rem;
        padding-right: 5rem;
        justify-content: space-between;
        margin-bottom: 10rem;
    }
    .imgs {
        img {
            height: 120px;
            bottom: 7rem;
        }
    } 
}
