/* === SKILLSET === */
#skillset {
    position: relative;
    margin-bottom: 5rem;

    .skills {
        flex-direction: column;
        padding-top: 7rem;
        justify-content: space-between;
        gap: 20dvh;

        .imgs-wrapper {
            gap: 5rem;
        }
    }
    .imgs {
        display: none;
        gap: 2vw;
        svg {
            height: clamp(90px, 7vw, 110px);
            cursor: pointer;
            transition: color .3s ease;

            &:nth-of-type(even) {
                margin-bottom: -8rem;
            }

            &:hover {
                color: var(--main);
            }
        }
    } 
}

@media screen and (min-width: 1200px) {
    #skillset {
        .skills {
            padding-top: 10rem;
            margin-bottom: 15rem;
        }
        .imgs {
            display: flex;
        } 
    }
}