/* === SINGLE PROJECT === */
.teaser {
    grid-template-columns: 55% 45%;
    align-items: center;
    gap: .5rem;

    > a {
    overflow: hidden;
    position: relative;
    aspect-ratio: 9/19;
    border: 1px solid black;
    
        video {
            min-width: 130%;
            width: 130%;
            object-fit: cover;
        }
    }
    
    article {
        padding: 1rem;

        .btns {
            flex-wrap: wrap;
        }
    }
}

@media screen and (min-width: 700px) {
    .teaser {
        grid-template-columns: 1fr;

        &:first-child {
            > a {
                border-right: none;
            }
        }
    }
}
@media screen and (min-width: 1200px) {
    .teaser {
        > a {
            background-color: rgb(15 32 122);
            transition: background-color .2s ease;
        
            video {
                mix-blend-mode: screen;
                transition: opacity .4s ease;
                filter: saturate(0);
                width: 123%;
                min-width: 123%;
            }

            &:hover {
                background-color: var(--dark);

                video {
                    filter: unset
                }

                .halftone {
                    filter: none;

                    .dots {
                        opacity: 0;
                    } 
                }
            }

            .halftone {
            position: absolute;
            height: 100%;
            width: 100%;
            filter: brightness(0.6) blur(.4px) contrast(15);
            /* transition: filter .4s ease; */

                .dots {
                opacity: 1;
                position: absolute;
                inset: 0;
                background: 
                radial-gradient(4px at center, black, white),
                radial-gradient(6px at 4px 6px, cyan, white),
                radial-gradient(4px at 5px 4px, magenta, white),
                radial-gradient(4px at 13px 13px, yellow, white);
                background-size: 5px 5px;
                mix-blend-mode: screen;
                background-blend-mode: multiply;
                transition: opacity .5s ease;
                }
            }

        }
        &:not(:first-child) {
            > a {
                border-left: none;
            }
        }
        
        article {
            padding: 2rem;
            width: 100%;

            h3 {
                font-size: 2rem
            }
        }
    }
}