/* === SINGLE PROJECT === */
.teaser {
    > a {
        overflow: hidden;
        max-height: 450px;
    
        video {
            min-width: 110%;
            width: 110%;
            object-fit: cover;
            filter: saturate(0) contrast(1.2);
            transition: filter .2s ease;

            &:hover {
                filter: saturate(1);
            }
        }
    }
    
    article {
        grid-template-columns: 2fr 3fr;
        padding: 2rem;
    }
}