/* === NAV === */
nav {
    font-size: 1.4rem;
    position: fixed;
    z-index: 20;
    right: 0;
    top: 0;
    padding: 1.5rem 5rem 1.5rem 3rem;
    gap: 2rem;
    width: 100vh;
    transform-origin: right top;
    transform: rotate(90deg) translateX(100%);
    border-bottom: 1px solid #000;
    background-color: var(--bg);
}