/* === ABOUT === */
#about {
    position: relative;
    .text {
        padding-top: 5rem;
        gap: 2rem;
        flex-direction: column-reverse;

        img {
            position: relative;
            -webkit-mask-image: url(/svg/star.svg);
            mask-image: url(/svg/star.svg);
            mask-repeat: no-repeat;
            mask-size: 100%;
            mask-position: center;
            width: 55%;
            filter: brightness(1.1);
        }
    
        article {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 3rem;
    
            p:nth-of-type(odd) {
                grid-column: 1/5;
            }
            p:nth-of-type(even) {
                grid-column: 2/6;
            }

            p b {
                font-weight: 500;
            }
        }
    }
    
}

@media screen and (min-width: 1200px) {
    #about {
        .text {
            padding-top: 10rem;
            flex-direction: row;

            img {
                animation: soft-float 1.2s ease-in-out infinite alternate;
            }
        }       
    }
}